Django==1.5.4
Werkzeug==0.9.4
amqp==1.0.13
anyjson==0.3.3
argparse==1.2.1
billiard==2.7.3.33
celery==3.0.23
django-celery==3.0.23
django-extensions==1.2.2
django-facebook==5.2.6
python-social-auth==0.1.14
facebook-sdk==0.4.0
flup==1.0.2
httplib2==0.8
ipython==1.1.0
kombu==2.5.15
mongoengine==0.8.4
oauth2==1.5.211
oauthlib==0.6.0
psycopg2==2.5.1
pymongo==2.6.2
python-dateutil==2.1
python-openid==2.2.5
pytz==2013.7
requests==2.0.0
requests-oauthlib==0.4.0
six==1.4.1
wsgiref==0.1.2