@import url(http://fonts.googleapis.com/css?family=Lily+Script+One)
// TODO(gercek): This font is only used in the logo and it will be deprecated soon.

html, body
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  overflow: hidden
  background: $lightest_gray
  font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif

body
  @include opacity(0) // fade-ins onload
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility // might cause performance issues
  //  http://stackoverflow.com/questions/7968795/is-it-safe-to-use-the-css-rule-text-rendering-optimizelegibility-on-all-text

.loading
  text-align: center
  width: 100%
  position: absolute
  top: 48%


.subview
  padding: $headerHeight 20px 20px
