
$header-height: 44px

body
  margin: 0
  padding: 0

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit
  background: #FFF


.ui-header
  .ui-btn
    border: none
    background: transparent
    //@include opacity(50)
  .ui-btn-icon-notext.ui-btn-left
    top: .5em
    left: .5em
  .ui-btn-icon-notext.ui-btn-right
    top: .5em
    right: .5em
  .ui-title
    letter-spacing: 0.05em
    font-weight: 100
    font-family: 'Lily Script One', cursive
    color: $red

