.setting
  margin-bottom: 0

  h4
    font-weight: 300
    margin: 30px 0 10px
    .pull-right
      font-weight: bold

  .setting-inner
    margin: 0 -20px
    background: #ffffff
    border: 1px solid #DDD
    padding: 25px 20px


.btn-logout
  margin-top: 200px

#setting-sex
  margin-bottom: 20px
  h4
    margin-top: 10px
  .btn-group
    display: block

  .btn
    width: 50%



//
// SLIDER
//
.noUi-background,
.noUi-target
  background: #b7b7b7
  height: 2px
  border: none

.noUi-connect
  background: #007bff


.noUI-horizontal
  margin: 10px 0
  height: 2px

.noUi-horizontal
  .noUi-handle
    @include border-radius(50%)
    height: 30px
    width: 30px
    top: -13px


.noUi-handle:before,
.noUi-handle:after
  display: none



