/*
Syntax error: Invalid CSS after "/": expected identifier, was ""
        on line 17 of base.sass
        from line 10 of style.sass

12: 
13: // PAGES
14: @import "settings"
15: @import "searching"
16: @import "photo-stack"

Backtrace:
base.sass:17
style.sass:10
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/scss/parser.rb:1148:in `expected'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/scss/parser.rb:1084:in `expected'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/scss/parser.rb:1066:in `expr!'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/scss/parser.rb:660:in `reference_combinator'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/scss/parser.rb:654:in `combinator'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/scss/parser.rb:640:in `_selector'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/scss/parser.rb:624:in `selector_comma_sequence'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/scss/parser.rb:1065:in `expr!'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/scss/static_parser.rb:20:in `parse_selector'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:314:in `visit_rule'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:227:in `map'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/tree/root_node.rb:20:in `render'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/engine.rb:315:in `_render'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/engine.rb:262:in `render'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:201:in `each'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/exec.rb:432:in `watch_or_update'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/exec.rb:315:in `process_result'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/exec.rb:41:in `parse'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/lib/sass/exec.rb:21:in `parse!'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/gems/sass-3.2.8/bin/sass:9:in `<top (required)>'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/bin/sass:19:in `load'
/Users/Gercek/.rvm/gems/ruby-1.9.2-p0/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"/\": expected identifier, was \"\"\A         on line 17 of base.sass\A         from line 10 of style.sass\A \A 12: \A 13: // PAGES\A 14: @import \"settings\"\A 15: @import \"searching\"\A 16: @import \"photo-stack\""; }
