@mixin border-radius($value)
  -webkit-border-radius: $value
  -moz-border-radius: $value
  border-radius: $value

@mixin box-sizing($type)
  -webkit-box-sizing: $type
  -moz-box-sizing: $type
  box-sizing: $type


@mixin box-shadow($type)
  -webkit-box-shadow: $type
  -moz-box-shadow: $type
  box-shadow: $type


@mixin opacity($value)
  opacity: $value/100

