@import "variables"

$header-height: 44px

body
  margin: 0
  padding: 0

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit
  background: #FFF

.ui-header
  .ui-btn
    border: none
    background: transparent
  .ui-btn-icon-notext.ui-btn-left
    top: .5em
    left: .5em
  .ui-btn-icon-notext.ui-btn-right
    top: .5em
    right: .5em
