<div class="my-profile-summary">
  <a href="#">
    <img class="img-circle" src="{{ MEDIA_URL }}img/user-photo.jpg"/>
    <p>Gerçek Karakuş</p>
  </a>
</div>

<ul id="navigation">
  <li>
    <a href="#" id="recommendations">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-users fa-stack-1x"></i>
      </span>
      <span>Keşfet</span>
    </a>
  </li>

  <li>
    <a href="#" id="messages">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-comments-o fa-stack-1x"></i>
      </span>
      <span>Mesajlar</span>
    </a>
  </li>

  <li>
    <a href="#" id="settings">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-cog fa-stack-1x"></i>
      </span>
      <span>Ayarlar</span>
    </a>
  </li>


{#  <li>#}
{#    <a href="#settings">#}
{#      <span class="fa-stack fa-lg">#}
{#        <i class="fa fa-circle fa-stack-2x"></i>#}
{#        <i class="fa fa-envelope-o fa-stack-1x"></i>#}
{#      </span>#}
{#      <span>Arkadaşlarını Davet Et</span>#}
{#    </a>#}
{#  </li>#}
{##}
{#  <li>#}
{#    <a href="{% url 'logout' %}">#}
{#      <span class="fa-stack fa-lg">#}
{#        <i class="fa fa-circle fa-stack-2x"></i>#}
{#        <i class="fa fa-sign-out fa-stack-1x"></i>#}
{#      </span>#}
{#      <span>Çıkış</span>#}
{#    </a>#}
{#  </li>#}

</ul>
