<div class="photo-stack">
  {# photo-view.js gets rendered here #}
</div>


<div class="photo-controls">
  <div data-role="controlgroup" data-type="horizontal" data-mini="true">
      <a id="btn-dislike"
         href="#"
         data-role="button"
         class="ui-btn ui-btn-inline"
         data-icon="plus"
         data-theme="b">Dislike</a>

      <a id="btn-info"
         href="#"
         data-role="button"
         class="ui-btn ui-btn-inline"
         data-icon="info"
         data-icon-pos="left"
         data-theme="b"></a>

      <a id="btn-like"
         href="#"
         data-role="button"
         class="ui-btn ui-btn-inline"
         data-inline="true"
         data-icon="grid"
         data-icon="heart">Like</a>
  </div>
</div>


<div class="pane" id="pane-profile-details">
  <div class="pane-inner">

    <div class="profile-meta">
      <small>Konum: <strong>3 km yakında</strong></small>
      <small>Online: <strong>1 gün önce</strong></small>
    </div>
    <h3>Gercek<span>, 29</span></h3>


    <div class="section-shared" id="section-shared-interests">
      <h6>Ortak ilgi alanları</h6>
      <ul>
        <li>
          <div class="img-wrapper"><img src="/media/img/user-photo.jpg"/></div>
          <p>Galatasaray</p>
        </li>
      </ul>
    </div>

    <div class="section-shared" id="section-shared-friends">
      <h6>Ortak arkadaşlar</h6>
      <ul>
        <li>
          <div class="img-wrapper"><img src="/media/img/user-photo.jpg"/></div>
          <p>Michael</p>
        </li>
      </ul>
    </div>

  </div>
</div>
