<div class="photo-stack">
  {# photo-view.js gets rendered here #}
</div>


<div class="photo-controls">
  <a id="btn-dislike" href="#"><i class="fa fa-times"></i></a>
  <a id="btn-info" href="#"><i class="fa fa-info"></i></a>
  <a id="btn-like" href="#"><i class="fa fa-heart"></i></a>
</div>


<div class="header" id="header-profile-details">
  <a href="#" id="close-details">Kapat</a>

  <a href="#" id="btn-like-details"><i class="fa fa-heart"></i></a>
  <a href="#" id="btn-dislike-details"><i class="fa fa-times"></i></a>
</div>


<div class="pane" id="pane-profile-details">
  <div class="pane-inner">

    <div class="profile-meta">
      <small>Konum: <strong>3 km yakında</strong></small>
      <small>Online: <strong>1 gün önce</strong></small>
    </div>
    <h3>Gercek<span>, 29</span></h3>


    <div class="section-shared" id="section-shared-interests">
      <h6>Ortak ilgi alanları</h6>
      <ul>
        <li>
          <div class="img-wrapper"><img src="/media/img/user-photo.jpg"/></div>
          <p>Galatasaray</p>
        </li>
      </ul>
    </div>

    <div class="section-shared" id="section-shared-friends">
      <h6>Ortak arkadaşlar</h6>
      <ul>
        <li>
          <div class="img-wrapper"><img src="/media/img/user-photo.jpg"/></div>
          <p>Michael</p>
        </li>
      </ul>
    </div>

  </div>
</div>
