<div class="metadata" style='background-image: url("<%= photo %>")'>
</div>


<div class="stats">
  <div class="row">

    <div class="col-xs-6" id="name-age">
        <span class="name"><%= first_name %></span>, <span class="age"><%= birthday %></span>
    </div>

    <div class="col-xs-2" id="nb-common-friends">
        <h3 class="shared"><i class="fa fa-users"></i></h3>
        <div class="shared-count"><%= common_friends.length %></div>
    </div>
    <div class="col-xs-2" id="nb-common-likes">
        <h3 class="shared"><i class="fa fa-thumbs-o-up"></i></h3>
        <div class="shared-count"><%= common_likes.length %></div>
    </div>
    <div class="col-xs-2" id="nb-photos">
        <h3 class="shared"><i class="fa fa-camera-retro"></i></h3>
        <div class="shared-count"><%= common_likes.length %></div>
    </div>

  </div>
</div>
