{# Application is the top-level view that holds other views #}
<script type="text/template" id="tmpl-application">
  {% include 'application.html' %}
</script>


{# Main views #}
<script type="text/template" id="tmpl-recommendations">
  {% include 'recommendations.html' %}
</script>

<script type="text/template" id="tmpl-settings">
  {% include 'settings.html' %}
</script>

<script type="text/template" id="tmpl-searching">
  {% include 'searching.html' %}
</script>


{# Components #}
<script type="text/template" id="tmpl-photo-stack">
  {% include 'includes/photo-stack.html' %}
</script>

<script type="text/template" id="tmpl-photo">
  {% include 'includes/photo.html' %}
</script>
