<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="{{ MEDIA_URL }}styles/style.css">
  <script src="{{ MEDIA_URL }}third_party/modernizr-2.6.2.min.js"></script>
  <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?1.29.1"></script>
  <script src="{{ MEDIA_URL }}script/sperm.js"></script>
</head>
<body style="background: #CAFBFF;">
<div class="camera">
  <h1>sallasana</h1>

  <div class="fond0"></div>
  <section class="appareil">
    <div class="fond"></div>
    <div class="fond2"></div>
    <div class="fond3"></div>
    <div class="fond4"></div>

    <div class="object">
      <div class="lens0"></div>
      <div class="lens"></div>
      <div class="lens2"></div>
      <div class="lens3"></div>
      <div class="lens4"></div>
      <div class="lens5"></div>
      <div class="lens6"></div>
    </div>

    <div class="flash">
      <div class="red">
        <div class="red2">
        </div>
      </div>

    </div>
  </section>
  <section>
    {% block content %}{% endblock %}
    </section>
</body>
</html>