<div data-role="header"
     id="{% block header_id %}header{% endblock %}"
     class="ui-header ui-bar-inherit">
  {% block header %}
    <a href="#navigation"
       class="jqm-navmenu-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left">
      Menu
    </a>

    <h1 class="ui-title">sallasana</h1>

    <a href="#matches"
       class="jqm-search-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-search ui-nodisc-icon ui-alt-icon ui-btn-right">
      Eşleşenler
    </a>
  {% endblock %}
</div><!-- /header -->

<div data-role="content"
     id="{% block content_id %}content{% endblock %}">
  {% block content %}
  {% endblock %}
</div><!-- /content -->
