<!DOCTYPE html>
<html>
<head>
	<title>Sallasana!!!</title>
  {#	<meta name="viewport" content="width=device-width, initial-scale=1">#}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0, minimal-ui" />

	<link rel="stylesheet" href="{{ MEDIA_URL }}third_party/jquery.mobile-1.4.0-beta.1/jquery.mobile-1.4.0-beta.1.min.css" />
  <link rel="stylesheet" href="{{ MEDIA_URL }}third_party/jqm-icon-pack-fa.css" />
  <link rel="stylesheet" href="{{ MEDIA_URL }}styles/style.css" />


  <script type="text/javascript">
    {# Define global variables coming from Django here and pass them to client side at boot time #}
    SA = {};
    SA.recommendations = {% autoescape off %}{{ recommendations }}{% endautoescape %};
  </script>
  <script src="{{ MEDIA_URL }}third_party/require.js" data-main="{{ MEDIA_URL }}script/main"></script>


</head>

<body>

  <div data-role="page" id="page-app">

    <div class="ui-panel-wrapper">
      {# This section is reserved for the current page in context #}
      {# When the app is first launched as a logged in user, searching would appear here #}
      {# Once recommendations are captured from the server, they'll also be be rendered here #}
      {# Whenever user changes the view from the navigation panel, new page will be rendered here as well #}
      {# You got it. #}

      <div data-role="content">
        {% include 'searching.html' %}
      </div>

    </div>

    <div data-role="panel" id="navigation" data-theme="c">
      {% include 'includes/panel-navigation.html' %}
    </div><!-- /panel -->

    <div data-role="panel" data-position="right" id="matches" data-theme="c">
      {% include 'includes/panel-matches.html' %}
    </div><!-- /panel -->

    <section class="templates">
      {% include 'includes/templates-list.html' %}
    </section>

  </div><!-- #page-app -->

</body>
</html>
