{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Sallasana!!!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{% static "../../media/third_party/jquery.mobile-1.4.0-beta.1/jquery.mobile-1.4.0-beta.1.min.css" %}" />
  <link rel="stylesheet" href="{% static "../../media/third_party/jqm-icon-pack-fa.css" %}" />
  <link rel="stylesheet" href="{% static "../../media/styles/style.css" %}" />

  <script src="{% static "../../media/third_party/require.js" %}" data-main="{% static "../../media/script/mobile" %}"></script>
</head>

<body>


  <div data-role="page" id="page-app">

    <div class="ui-panel-wrapper">
      <div data-role="header">
        <a href="#navigation" class="jqm-navmenu-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left">Menu</a>
        <h1>sallasana</h1>
        <a href="#matches" class="jqm-search-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-search ui-nodisc-icon ui-alt-icon ui-btn-right">Search</a>
{##}
{#        <a href="#matches"#}
{#           data-role="button"#}
{#           data-iconpos="notext"#}
{#           data-icon="comments"#}
{#           data-inline="true"#}
{#           data-iconshadow="false"#}
{#           data-theme="d"#}
{#           class="ui-icon-nodisc ui-icon-alt">Mathes</a>#}
{##}
{#        <a href="#matches"#}
{#           data-role="button"#}
{#           data-icon="comment-alt"#}
{#           class="jqm-search-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-comment-alt ui-nodisc-icon ui-alt-icon ui-btn-right">Search</a>#}


      </div><!-- /header -->

      <div data-role="content">
        <section class="photos-container"></section>
      </div><!-- /content -->

    </div>


    <div data-role="panel" id="navigation">
      {% include 'includes/panel-navigation.html' %}
    </div><!-- /panel -->

    <div data-role="panel" data-position="right" id="matches">
        <!-- panel content goes here -->
        {% include 'includes/panel-matches.html' %}

    </div><!-- /panel -->






    <section class="templates">

      <script type="text/template" id="tmpl-photo-stack">
        {% include 'includes/photos.html' %}
      </script>

      <script type="text/template" id="tmpl-photo">
        {% include 'includes/photo.html' %}
      </script>

    </section>

  </div><!-- /page -->



</body>
</html>
