<!DOCTYPE html>
<html>
<head>
	<title>Sallasana!!!</title>
  {#	<meta name="viewport" content="width=device-width, initial-scale=1">#}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0" />

	<link rel="stylesheet" href="{{ MEDIA_URL }}third_party/jquery.mobile-1.4.0-beta.1/jquery.mobile-1.4.0-beta.1.min.css" />
  <link rel="stylesheet" href="{{ MEDIA_URL }}third_party/jqm-icon-pack-fa.css" />
  <link rel="stylesheet" href="{{ MEDIA_URL }}styles/style.css" />


  <script type="text/javascript">
    {# Define global variables coming from Django here and pass them to client side at boot time #}
    SA = {};
    SA.recommendations = {% autoescape off %}{{ recommendations }}{% endautoescape %};
  </script>
  <script src="{{ MEDIA_URL }}third_party/require.js" data-main="{{ MEDIA_URL }}script/main"></script>


</head>

<body>
  <div data-role="page" id="page-app">

    <div class="ui-panel-wrapper">
      <div id="header" data-role="header">
          <a href="#navigation" class="jqm-navmenu-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left">Menu</a>
          <h1>sallasana</h1>
          <a href="#matches" class="jqm-search-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-search ui-nodisc-icon ui-alt-icon ui-btn-right">Search</a>
      </div><!-- /header -->

      <div data-role="content">
        <section class="photos-container"></section>
      </div><!-- /content -->

    </div>


    <div data-role="panel" id="navigation" data-theme="c">
      {% include 'includes/panel-navigation.html' %}
    </div><!-- /panel -->

    <div data-role="panel" data-position="right" id="matches" data-theme="c">
        {% include 'includes/panel-matches.html' %}
    </div><!-- /panel -->


    <section class="templates">
      <script type="text/template" id="tmpl-photo-stack">
        {% include 'includes/photo-stack.html' %}
      </script>

      <script type="text/template" id="tmpl-photo">
        {% include 'includes/photo.html' %}
      </script>

    </section>

  </div><!-- /page -->



</body>
</html>
