{% include 'includes/header.html' with title="Ayarlar" class="-" %}

<div class="setting clearfix" id="setting-sex">
  <h4>Cinsiyetim:</h4>
  <div class="btn-group">
    <button type="button" class="btn btn-default">Kadın</button>
    <button type="button" class="btn btn-default">Erkek</button>
  </div>
 </div>

<div class="setting">
  <h4>
    Arama Uzaklığı:
    <span class="pull-right">
      <span id="distance-board">100</span> km
    </span>
  </h4>
  <div class="setting-inner" data-snap-ignore="true">
    <div id="distance" class="noUISlider"></div>
  </div>
</div>

<div class="setting">
  <h4>İlgilendiğim Yaş Aralığı:
    <span class="pull-right" >
      <span id="age-low">18</span>-<span id="age-high">50+</span>
    </span>
  </h4>
  <div class="setting-inner" data-snap-ignore="true">
    <div id="ages" class="noUISlider"></div>
  </div>
</div>


<a href="{% url 'logout' %}" class="btn btn-block btn-default btn-logout">Çıkış</a>
