{% include 'includes/header.html' with title="Ayarlar" %}

<div class="setting clearfix" id="setting-sex">
  <h4>Cinsiyetim:</h4>
  <div class="btn-group">
    <button type="button" class="btn btn-default">Kadın</button>
    <button type="button" class="btn btn-default">Erkek</button>
  </div>
 </div>

<div class="setting">
  <h4>
    Arama Uzaklığı:
    <span class="pull-right">
      <span id="distance-board">100</span> km
    </span>
  </h4>
  <div class="setting-inner" data-snap-ignore="true">
    <div id="distance" class="noUISlider"></div>
  </div>
</div>

<div class="setting">
  <h4>Yaş Aralığı:
    <span class="pull-right" >
      <span id="age-low">18</span>-<span id="age-high">50+</span>
    </span>
  </h4>
  <div class="setting-inner" data-snap-ignore="true">
    <div id="ages" class="noUISlider"></div>
  </div>
</div>


<div class="setting" id="setting-looking-for">
  <h4>İlgilendiğim Cinsiyet:</h4>
  <div class="setting-inner" data-snap-ignore="true">

    <ul>
      <li class="clearfix">
        <span>Kadın</span>
        <div class="make-switch pull-right"><input id="female" name="female" type="checkbox" checked></div>
      </li>
      <li class="clearfix">
        <span>Erkek</span>
        <div class="make-switch pull-right"><input id="male" name="male" type="checkbox" checked></div>
      </li>
    </ul>
  </div>
</div>



<a href="{% url 'logout' %}" class="btn btn-block btn-default btn-logout">Çıkış</a>
