<!DOCTYPE html>
<html>
<head>
	<title>Sallasana!!!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0" />

{#  <link rel="stylesheet" href="{{ MEDIA_URL }}styles/jqm-theme/sallasana.min.css" />#}
{#	<link rel="stylesheet" href="{{ MEDIA_URL }}third_party/jquery.mobile-1.4.0-beta.1/jquery.mobile-1.4.0-beta.1.min.css" />#}
  <link rel="stylesheet" href="{{ MEDIA_URL }}styles/welcome.css" />

  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
{#  <script src="http://code.jquery.com/mobile/1.4.0-rc.1/jquery.mobile-1.4.0-rc.1.min.js"></script>#}

  <script type="text/javascript" src="{{ MEDIA_URL }}third_party/swipe.js"></script>
  <script type="text/javascript">
  </script>


</head>

<body>

  <div data-role="page" id="page-welcome">

    <div id='slider' class='swipe'>
      <div class='swipe-wrap'>
        <div><img src="{{ MEDIA_URL }}img/welcome1.png" /></div>
        <div><img src="{{ MEDIA_URL }}img/welcome2.png" /></div>
        <div><img src="{{ MEDIA_URL }}img/welcome3.png" /></div>
      </div>
    </div>


    <div id="actions">
      <div class="actions-inner">

        <nav>
          <ul id="position">
            <li class="on"></li>
            <li class=""></li>
            <li class=""></li>
          </ul>
        </nav>

        <div class="login">
          <a href="/login/facebook" data-ajax="false" data-role="button" class="btn-facebook">Facebook ile Bağlan</a>
        </div>

        <p><small>İçin rahat olsun, Facebook'ta hiçbir şey paylaşılmayacak.</small></p>

      </div>
    </div>

  </div><!-- /page -->

{##}
{#  <script type="text/javascript" src="{{ MEDIA_URL }}third_party/hammer.js"></script>#}
{#  <script type="text/javascript" src="{{ MEDIA_URL }}third_party/hammer.carousel.js"></script>#}
  <script type="text/javascript">
    $(document).ready(function(){

      var w = $(window).width();
      $('#slider img').css('width',w);

      window.mySwipe = Swipe(document.getElementById('slider'),  {
        startSlide: 0,
        speed: 400,
        auto: 5000,
        continuous: false,
        disableScroll: false,
        stopPropagation: false,
        callback: function(index, elem) {
            var i = bullets.length;
            while (i--) {
              bullets[i].className = ' ';
            }
            bullets[index].className = 'on';
        },
        transitionEnd: function(index, elem) {}
      });

      var bullets = document.getElementById('position').getElementsByTagName('li');


    });
  </script>

</body>
</html>
