<ul data-role="listview"
    data-icon="false"
    data-filter="false"
    data-filter-placeholder="Search..."
    data-global-nav="demos">

  <li data-role="list-divider" role="heading" >Matches</li>

{#  <li>#}
{#    <a href="" data-rel="close" >#}
{#      Recommendations#}
{#    </a>#}
{#  </li>#}
{#  #}
{#  <li>#}
{#    <a href="" data-rel="close" >#}
{#      Profile#}
{#    </a>#}
{#  </li>#}
{#  #}
{#  <li>#}
{#    <a href="" data-rel="close" >#}
{#      Logout#}
{#    </a>#}
{#  </li>#}
</ul>

