
{#<div class="photo">#}

  <div class="metadata"
      style='background-image: url("http://m.c.lnkd.licdn.com/media/p/2/000/0b7/233/26a567e.jpg")'>

    <div class="name-age">
      <span class="name">Gercek K</span>, <span class="age">27</span>
    </div>
  </div>

  <div class="stats">
    <div class="ui-grid-a">
      <div class="ui-block-a">
        <div class="ui-bar ui-bar-a">
          <h3 class="shared">Shared<br/>Friends</h3>
          <div class="shared-count">11</div>
        </div>
      </div>
      <div class="ui-block-b">
        <div class="ui-bar ui-bar-a">
          <h3 class="shared">Shared<br/>Interests</h3>
          <div class="shared-count">3</div>
        </div>
      </div>
    </div><!-- /grid-a -->
    </div>
  </div>

{#</div> <!-- .photo -->#}
