<section class="recommendations-container">

  <div class="recommendation-stack">
    <div class="recommendation twisted">
      <img src="http://m.c.lnkd.licdn.com/media/p/7/000/266/191/0b1c283.jpg" />

      <div class="ui-grid-a">
        <div class="ui-block-a">
          <div class="ui-bar ui-bar-a">
            <h3 class="shared">Shared<br/>Friends</h3>
            <div class="shared-count">9</div>
          </div>
        </div>
        <div class="ui-block-b">
          <div class="ui-bar ui-bar-a">
            <h3 class="shared">Shared<br/>Interests</h3>
            <div class="shared-count">7</div>
          </div>
        </div>
      </div><!-- /grid-a -->
    </div>



    <div class="recommendation front">
  {#    <img src="http://m.c.lnkd.licdn.com/media/p/2/000/0b7/233/26a567e.jpg" />#}

      <img src="https://si0.twimg.com/profile_images/1261986664/gercek-2.png" />
      <div class="ui-grid-a">
        <div class="ui-block-a">
          <div class="ui-bar ui-bar-a">
            <h3 class="shared">Shared<br/>Friends</h3>
            <div class="shared-count">11</div>
          </div>
        </div>
        <div class="ui-block-b">
          <div class="ui-bar ui-bar-a">
            <h3 class="shared">Shared<br/>Interests</h3>
            <div class="shared-count">3</div>
          </div>
        </div>
      </div><!-- /grid-a -->
    </div>

  </div> <!-- .recommendation-stack -->

  <div class="recommendation-controls">

  </div>




</section>
