<section class="recommendations-container">

  <div class="recommendation twisted">
    <img src="http://m.c.lnkd.licdn.com/media/p/7/000/266/191/0b1c283.jpg" />

    <div class="ui-grid-a">
      <div class="ui-block-a">
        <div class="ui-bar ui-bar-a" style="height:60px">
          Shared Friends
        </div>
      </div>
      <div class="ui-block-b">
        <div class="ui-bar ui-bar-a" style="height:60px">
          Shared Interests
        </div>
      </div>
    </div><!-- /grid-a -->
  </div>


{#  <div class="recommendation">#}
{#    <img src="http://m.c.lnkd.licdn.com/media/p/2/000/0b7/233/26a567e.jpg" />#}
{##}
{#    <div class="ui-grid-a">#}
{#      <div class="ui-block-a">#}
{#        <div class="ui-bar ui-bar-a" style="height:60px">#}
{#          Shared Friends#}
{#        </div>#}
{#      </div>#}
{#      <div class="ui-block-b">#}
{#        <div class="ui-bar ui-bar-a" style="height:60px">#}
{#          Shared Interests#}
{#        </div>#}
{#      </div>#}
{#    </div><!-- /grid-a -->#}
{#  </div>#}


</section>
