{% load url from future %}

<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>


<p>You are logged in as {{ user }}!</p>

<p>Associated:</p>
<ul>
  {% for assoc in backends.associated %}
    <li>
      Connected with {{ assoc.provider }}
{#      (<a href="{% url 'social:disconnect_individual' assoc.provider assoc.str_id %}" class="disconnect">Disconnect</a>)#}

    </li>
  {% endfor %}
</ul>

<p>Associate:</p>
<ul>
  {% for name in backends.not_associated %}
    <li>
      <a href="{% url 'social:begin' name %}">{{ name }}</a>
    </li>
  {% endfor %}
</ul>

</body>
</html>